h1{
    text-align: center;
}

ul.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:  #3f984e;
  display: flex;
}

li.menu {
text-align: center;
}

ul.menu li.menu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: flex;
}

ul li.menu a:hover {
  background-color: rgb(109, 215, 85);
}

li.menu#repository {
    background-color: forestgreen;
}

span{
    color: rgb(67, 118, 67);
}

a.active {
    background-color: darkgreen;
}

body {
    background-color: lightblue;
}

th, td {
    padding: 15pt;
}

tr:hover {background-color: #D6EEEE;}

ul {
  position: sticky;
  top: 0;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

div.column{
    outline-style: solid;
    outline-width: 1pt;
    outline-color: lightblue;
}