h1{
    text-align: center;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:  rgb(63, 152, 78);
  display: flex;
}

ul.menu li.menu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: flex;
}

ul li.menu a:hover {
  background-color: rgb(109, 215, 85);
}

a.active {
    background-color: darkgreen;
}

body{
    background-color: lightblue;
}

th, td{
    padding: 15pt;
}

tr:hover {background-color: #D6EEEE;}

ul {
  position: sticky;
  top: 0;
}

a.bold{
    background-color: lightgoldenrodyellow;
}