h1{
    text-align: center;
}
ul.menu{
    background-color: rgb(63, 152, 78);
    list-style-type: none;
    display: block;
    overflow: hidden; 
}
li.menu{
    float: left;
    margin: 0;
    padding: 10;
    display: block;
}
li.menu#selected:hover{
    background-color: rgb(109, 215, 85);
}
li#selected {
    background-color: rgb(63, 152, 78);
}
body{
    background-color: lightblue;
}
th, td{
    padding: 15pt;
}
tr:hover {background-color: #D6EEEE;}
ul {
  position: sticky;
  top: 0;
}